In [3]:
# import modules/ api stuff
import hvplot.pandas
import pandas as pd
import requests

# import api key
#from config.py import api_key

In [10]:
# pull csv information and format into a usable dataframe
obesity_data = pd.read_csv("resources/obesity_diabetes_csv.csv")

# obesity only (not diabetes)
obesity_data = obesity_data.loc[obesity_data["Measure"] == "Obesity among adults aged >=18 years"]

# only pull neccessary columns
obesity_data = obesity_data[["LocationName", "Measure", "Data_Value", "Geolocation"]]

obesity_data

,LocationName,Measure,Data_Value,Geolocation
1,73002,Obesity among adults aged >=18 years,40.6,POINT (-97.73097606 34.94935021)
3,73003,Obesity among adults aged >=18 years,34.4,POINT (-97.49717346 35.66897845)
5,73004,Obesity among adults aged >=18 years,37.9,POINT (-97.905542 35.13636931)
7,73005,Obesity among adults aged >=18 years,45.0,POINT (-98.23818097 35.05783297)
9,73006,Obesity among adults aged >=18 years,43.1,POINT (-98.40269923 34.90892372)
...,...,...,...,...
1275,74962,Obesity among adults aged >=18 years,42.8,POINT (-94.95251004 35.53332988)
1277,74963,Obesity among adults aged >=18 years,45.9,POINT (-94.53001825 34.41852811)
1279,74964,Obesity among adults aged >=18 years,43.0,POINT (-94.66423382 36.11705387)
1281,74965,Obesity among adults aged >=18 years,43.1,POINT (-94.58289225 35.97503202)
1283,74966,Obesity among adults aged >=18 years,41.4,POINT (-94.9062445 34.87493629)